$light-grey: #f4f5f8;
$grey: #eff0f4;
$dark-grey: #404253;
$blue: #2f8ff0;
$green: #66bb6a;
$pink: #ef7da0;
$dark-pink: #f44682;
$background: rgb(238 240 248);
$brown: #333;
$gray-text: #a4a4b5;
$white: white;
$red: red;